# Rust
/target
/target/
**/*.rs.bk
Cargo.lock

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea
*.swp

# Auxiliary
changes.txt
/notes

# ZK artifacts
*.r1cs
*.wtns

# Proptest
**/*.proptest-regressions
