[package]
name = "constraints"
version = "0.1.0"
edition = "2021"
license = "GPL-3.0"

[dependencies]
memory = { path = "../memory" }

[dev-dependencies]
compiler = { path = "../compiler" }
ir = { path = "../ir" }
